:root {
    --body-bg-color:  #0b1520;
    --text-white-color: white;
    --text-black-color: black;
    --aside-background-color:  #0f1923;
    --aside-border-color: #1e3045;
    --heading-font-color: #c8a96e;
    --secondary-heading-color: #6b8099;
    --nav-elements-color: #d4dde8;
    --nav-elements-hover: #1d2f42;
    --lightGrey-border-color: lightgrey;
    --table-even-color: #f9f9f9;
    --input-box-placeholder: #3a5068;

    --table-bg-color: white;
    --table-text-color: black;
    --table-header-text: white;

    --error-msg-text: #ef4444;
    --error-message-bg: #2d1515;
    --error-msg-border: #7f1d1d;

    --success-msg-text:#22c55e;
    --success-msg-bg: #152d1e;
    --success-msg-border:#14532d;

    --edit-button: #4a90d9;
    --delete-button:  #e74c3c;
}

:root.light {
    --body-bg-color: #f0f4f8;
    --text-white-color: black;
    --text-black-color: white;
    --aside-background-color: #f8f9fb;
    --aside-border-color: #dde3ea;
    --heading-font-color: #a07840;
    --secondary-heading-color: #4a6070;
    --nav-elements-color: #1d2f42;
    --nav-elements-hover: #c8d8e8;
    --input-box-placeholder: #7a95a8;

    --table-bg-color: white;
    --table-text-color: #1d2f42;
    --table-header-text: #1d2f42;
    --table-even-color: #e8edf2;
    --lightGrey-border-color: #c8d8e8;

    --error-msg-text: #b91c1c;
    --error-message-bg: #fee2e2;
    --error-msg-border: #fca5a5;

    --success-msg-text: #15803d;
    --success-msg-bg: #dcfce7;
    --success-msg-border: #86efac;
}

body {
    background: var(--body-bg-color);
    color: var(--text-white-color);
    display: flex;
    min-height: 100vh;
}

/*
    NAVIGATION MENU
*/
aside {
    width: 30%;
    background: var(--aside-background-color);
    border-right: 1px solid var(--aside-border-color);
    margin-right: 2em;
    transition: 0.8s ease;
}

aside.collapsed {
    width: 10%;
}

aside.collapsed .logo h1,
aside.collapsed .userCardName,
aside.collapsed .logo p,
aside.collapsed span,
aside.collapsed .submenu,
aside.collapsed .menuItem button > i {
    display: none;
}

aside.collapsed .logo i {
    position: static;
    display: block;
    text-align: center;
}

aside.collapsed .menuItem button {
    justify-content: center;
}

aside.collapsed .lightMode {
    display: flex;
    justify-content: center;
}

aside.collapsed .systemUserContainer {
    justify-content: center;
}

.logo {
    padding: 1em;
    border-bottom: 1px solid var(--aside-border-color);
    position: relative;
}

.logo h1 {
    font-size: 1.25rem;
    color: var(--heading-font-color);
}

.logo p {
    font-size: 0.9rem;
    color: var(--secondary-heading-color);
    text-transform: uppercase;
    letter-spacing: .10em;
}

.logo > i {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 1.5em;
}

.systemUserContainer {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid var(--aside-border-color);
}

.userCardLeft {
    display: flex;
    align-items: center;
    gap: 1em;
}

.userIcon {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--nav-elements-hover);
    border: 1px solid var(--aside-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
}

aside.collapsed .userIcon i {
    text-align: center;
}

.userCardName {
    margin: 0;
    font-size: 0.9em;
    color: var(--nav-elements-color);
}

.dashboard {
    display: flex;
    align-items: center;
    gap: 0.001em;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em 0;
}

nav a {
    display: flex;
    padding: 1em;
    color: var(--nav-elements-color);
    font-size: 1em;
    text-decoration: none;
}

nav a:hover {
    background: var(--nav-elements-hover);
}

.menuItem-name {
    display: flex;
    align-items: center;
    gap: 1em;
}

.menuItem button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    padding: 1em;
    border: none;
    font-size: 1em;
    cursor: pointer;
    background-color: var(--aside-background-color);
    color: var(--text-white-color);
}

.menuItem button:hover {
    background-color: var(--nav-elements-hover);
}

.menuItem.open button > i { 
    transform: rotate(180deg); 
    opacity: 1; 
}

.submenu {
    display: none;
    background-color: var(--body-bg-color);
}

.menuItem.open .submenu { 
    display: block; 
}

.submenu a {
    padding: 1em;
    font-size: 0.8em;
    color: var(--secondary-heading-color);
}

.submenu a:hover { 
    background-color: var(--nav-elements-hover);
    color: var(--text-white-color);
}

.logout {
    border-top: 1px solid var(--aside-border-color);
}

.lightMode button {
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 1em;
    background-color: var(--nav-elements-hover);
    color: var(--nav-elements-color);
    border: 1px solid var(--aside-border-color);
    border-radius: 0.5em;
    font-size: 0.9em;
    cursor: pointer;
    transition: background 0.2s ease;
}

.lightMode button:hover {
    background-color: var(--aside-border-color);
}

/*
    DASHBOARD MAIN MENU
*/

.main h1 { 
    font-family: 'Playfair Display', serif; 
    color: var(--heading-font-color);
    margin-bottom: 0.5em; 
}

.main p  { 
    font-size: 0.9rem;
    color: var(--secondary-heading-color);
    letter-spacing: 0.10em;
}

/*
    VIEW BOOK
*/

.viewBookTable, .memberCrudTable {
    color: var(--table-text-color);
    border-collapse: collapse;
    background-color: var(--table-bg-color);
    width: 100%;
    height: fit-content;
    height: 100%;
    overflow: scroll;
    margin-right: 2em;
}

.viewBookTable th, .memberCrudTable th {
    background-color: var(--nav-elements-hover);
    color: var(--table-header-text);
    text-align: center;
    padding: 0.5em;
    text-transform: uppercase;
    font-size: 1em;
}

.viewBookTable td, .memberCrudTable td {
    padding: 1em;
    border-bottom: 1px solid var(--light-border-color);
    text-align: center;
}

.viewBookTable tr:nth-child(even), .memberCrudTable tr:nth-child(even) {
    background-color: var(--table-even-color);
}

.viewBookTable tr:hover, .memberCrudTable tr:hover {
    background-color: var(--lightGrey-border-color);
    transition: background-color 0.3s ease;
}

.viewBookTable td:last-child, .memberCrudTable td:nth-child(9) {
    font-weight: bold;
}

@media screen and (max-width: 1090px) {
    .viewBookTable th:nth-child(8), .viewBookTable td:nth-child(8),
    .viewBookTable th:nth-child(7), .viewBookTable td:nth-child(7) {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .viewBookTable th:nth-child(4), .viewBookTable td:nth-child(4),
    .viewBookTable th:nth-child(5), .viewBookTable td:nth-child(5),
    .viewBookTable th:nth-child(3), .viewBookTable td:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .viewBookTable th:nth-child(1), .viewBookTable td:nth-child(1){
        display: none;
    }
}

/*
    ADD BOOK FORM
*/

.formContainer {
    background-color: var(--aside-background-color);
    border: 1px solid var(--aside-border-color);
    border-radius: 1em;
    padding: 2em;
    width: 70%;
    height: fit-content;
    margin-right: 2em;
}

.formContainer h2, .formContainerMemberHeader h2, .formContainerBook h2, .loanSummaryContainer h2{
    color: var(--heading-font-color);
    margin-bottom: 0.25em;
}

.formContainer p {
    font-size: 0.9rem;
    color: var(--secondary-heading-color);
    letter-spacing: 0.10em;
    text-transform: uppercase;
    margin-bottom: 2em;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    margin-bottom: 1em;
}

.formGroup label {
    font-size: 0.8rem;
    color: var(--secondary-heading-color);
    text-transform: uppercase;
    letter-spacing: 0.10em;
}

.formGroup input, .formGroup select, .searchMember, .searchISBN {
    background-color: var(--body-bg-color);
    border: 1px solid var(--aside-border-color);
    border-radius: 0.5em;
    color: var(--text-white-color);
    padding: 0.75em 1em;
    font-size: 0.9em;
    outline: none;
    transition: border-color 0.2s ease;
    width: 100%;
    box-sizing: border-box;
}

.formGroup input::placeholder {
    color: var(--input-box-placeholder);
}

.formGroup input:focus, .formGroup select:focus {
    border-color: var(--heading-font-color);
}

.formGroup select option {
    background-color: var(--aside-background-color);
}

/*https://stackoverflow.com/questions/14946091/are-there-any-style-options-for-the-html5-date-picker*/
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.5);
    cursor: pointer;
}

input[type="submit"] {
    width: 100%;
    padding: 0.8em;
    margin-top: 0.5em;
    background-color: var(--heading-font-color);
    color: var(--nav-elements-hover);
    border: 1px solid var(--heading-font-color);
    border-radius: 0.5em;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.10em;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--heading-font-color);
    color: var(--body-bg-color);
}

.formContainer .formGroup .errorMessage {
    color: var(--error-bg-msg);
    font-size: 0.8rem;
    letter-spacing: 0.1em;
}

.errorOutput {
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: var(--error-message-bg);
    border: 1px solid var(--error-msg-border);
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: 1em;
}

.errorOutput i {
    color: var(--error-msg-text);
}

.successMessage {
    color: var(--success-msg-text);
    font-size: 0.8rem;
    letter-spacing: 0.1em;
}

.successOutput {
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: var(--success-msg-bg);
    border: 1px solid var(--success-msg-border);
    border-radius: 0.5em;
    padding: 0.5em;
    margin-bottom: 2em;
}

.successOutput i {
    color: var(--success-msg-text);
}

/*
    UPDATE MEMBER TABLE
*/

@media screen and (max-width: 1450px) {
    .memberCrudTable th:nth-child(9), .memberCrudTable td:nth-child(9),
    .memberCrudTable th:nth-child(8), .memberCrudTable td:nth-child(8) {
        display: none;
    }
}

@media screen and (max-width: 1210px) {
    .memberCrudTable th:nth-child(6), .memberCrudTable td:nth-child(6),
    .memberCrudTable th:nth-child(7), .memberCrudTable td:nth-child(7) {
        display: none;
    }
}

@media screen and (max-width: 1025px) {
    .memberCrudTable th:nth-child(3), .memberCrudTable td:nth-child(3),
    .memberCrudTable th:nth-child(4), .memberCrudTable td:nth-child(4), 
    .memberCrudTable th:nth-child(5), .memberCrudTable td:nth-child(5) {
        display: none;
    }
}

@media screen and (max-width: 580px) {
    .memberCrudTable th:nth-child(1), .memberCrudTable td:nth-child(1),
    .memberCrudTable th:nth-child(10), .memberCrudTable td:nth-child(10){
        display: none;
    }
}

.editMemberButton {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.8em;
    background-color: var(--edit-button);
    color: white;
    border: none;
    border-radius: 0.5em;
}

.editMemberButton:hover {
    transform: scale(1.05);
}

.editMemberButton:active {
    transform: scale(0.97);
}

.editMemberButton i {
    font-size: 1em;
}

.deleteMemberButton {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.8em;
    background-color: var(--delete-button);
    color: white;
    border: none;
    border-radius: 0.5em;
}

.deleteMemberButton:hover {
    transform: scale(1.05);
}

.deleteMemberButton:active {
    transform: scale(0.97);
}

.deleteMemberButton i {
    font-size: 1em;
}

/*
    MEMBER CRUD
*/

.contentOverlay {
    display: none;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1;
}

.contentOverlay.open {
    display: flex;
}

.formContainerUpdate {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    background-color: var(--body-bg-color);
    border-radius: 1em;
    padding: 2em;
    width: 60%;
    transform: translate(-50%, -50%);
}

.formContainerUpdate.open {
    display: block;
}

.formContainerUpdateSections {
    display: flex;
    gap: 2em;
    align-items: flex-start;
}

.formContainerUpdateSplit {
    width: 50%;
}

.memberAddSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.addMember button {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em 2em;
    background-color: var(--heading-font-color);
    color: var(--nav-elements-hover);
    border: none;
    border-radius: 0.5em;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.addMember button:active {
    transform: scale(0.97);
}

.searchMember input {
    background-color: var(--aside-background-color);
    border: 1px solid var(--aside-border-color);
    border-radius: 0.5em;
    color: var(--text-white-color);
    padding: 1em 2em;
    font-size: 0.9em;
    outline: none;
    transition: border-color 0.2s ease;
}

.searchMember input::placeholder {
    color: var(--input-box-placeholder);
}

.searchMember input:focus {
    border-color: var(--heading-font-color);
}

/*
    PROCESS LOAN
*/

.processLoanMain {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 2em;
    width: 100%;
}

.formContainer {
    background-color: var(--aside-background-color);
    border: 1px solid var(--aside-border-color);
    border-radius: 1em;
    padding: 2em;
    width: 100%;           /* changed from 70% */
    box-sizing: border-box; /* prevents overflow */
    margin-right: 0;        /* remove the right margin */
    height: fit-content;
}

.loanSummaryContainer {
    background-color: var(--aside-background-color);
    border: 1px solid var(--aside-border-color);
    border-radius: 1em;
    padding: 2em;
    width: 100%;           /* changed from 90% */
    box-sizing: border-box;
    margin-right: 0;
    height: fit-content;   /* let content dictate height */
}

.formContainerInfo {
    display: flex;
    width: 100%;
}

.formContainerMember, .formContainerBook {
    background-color: var(--aside-background-color);
    border: 1px solid var(--aside-border-color);
    border-radius: 1em;
    padding: 2em;
    width: 70%;
    height: 40vh;
    overflow: scroll;
    margin-right: 2em;
}

.formContainerMemberHeader {
    position: sticky;
    top: 0;
    background-color: var(--aside-background-color);
    z-index: 1;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.memberContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    border: 1px solid var(--aside-background-color);
    border-radius: 1em;
    background-color: var(--aside-background-color);
    margin-bottom: 0.5em;
    margin-top: 1em;
    transition: 0.5s ease;
}

.memberContainer:hover {
    background-color: var(--nav-elements-hover);
}

.memberCardLeft {
    display: flex;
    align-items: center;
    gap: 1em;
}

.memberIcon {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: var(--nav-elements-color);
    border: 1ox solid var(--aside-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-black-color);
    font-size: 1em;
}

.memberCardInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.memberCardName {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.memberCardId {
    font-size: 1em;
    color: var(--secondary-heading-color);
}

.memberCardActiveStatus {
    padding: 1em 1.5em;
    border-radius: 0.1em;
    font-size: 0.9em;
    font-weight: bold;
    background: var(--success-msg-bg);
    color: var(--success-msg-text);
    border: 1px solid var(--success-msg-border);
}

.memberCardInactiveStatus {
    padding: 1em 1.5em;
    border-radius: 0.1em;
    font-size: 0.9em;
    font-weight: bold;
    background: var(--error-message-bg);
    color: var(--error-msg-text);
    border: 1px solid var(--error-msg-border);
}

.loanSummaryDetails {
    display: flex;
    justify-content: space-between;
}

.loanSummaryBooks, .loanSummaryMember {
    background-color: var(--body-bg-color);
    border: 1px solid var(--aside-border-color);
    border-radius: 1em;
    padding: 1.5em;
    width: 40%;
}

.loanSummaryBooks h5, .loanSummaryMember h5 {
    color: var(--heading-font-color);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.9em;
}

.loanSummaryBook {
    margin-bottom: 1em;
}

.loanSummaryBook p:first-child, .loanSummaryMember p:first-child {
    font-weight: bold;
    margin: 0;
}

.loanSummaryBook p:last-child, .loanSummaryMember p:last-child {
    color: var(--secondary-heading-color);
    font-size: 0.9em;
    margin: 0;
}

.loanSummaryIcon {
    color: var(--heading-font-color);
    font-size: 1.5em;
    align-content: center;
}

/*
    LOAN CONFIRMATION SCREEN
*/

.content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    width: 50%;
}

.successMessage {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: var(--success-msg-bg);
    border: 1px solid var(--success-msg-border);
    border-radius: 1em;
    padding: 2em;
}

.successMessage i {
    color: var(--success-msg-text);
    background-color: var(--success-msg-border);
    font-size: 1.5em;
    padding: 1em;
    border-radius: 50%;
}

.successMessage h3 {
    color: var(--success-msg-text);
    font-size: 1.2em;
}

.successMessage p {
    color: var(--secondary-heading-color);
    font-size: 1em;
}

.successMessage p span {
    color: var(--heading-font-color);
    font-weight: bold;
}

.datesContainer {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.loanDate, .dueDate {
    background-color: var(--aside-background-color);
    border: 1px solid var(--aside-border-color);
    border-radius: 0.5em;
    padding: 1em;
    width: 50%;
}

.loanDate h4, .dueDate h4, .memberInfo h4, .booksContainer h4 {
    font-size: 1em;
    font-weight: bold;
    color: var(--secondary-heading-color);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.loanDate p, .dueDate p {
    font-size: 1em;
    font-weight: bold;
    color: var(--heading-font-color);
}

.memberInfo, .booksContainer {
    background-color: var(--aside-background-color);
    border: 1px solid var(--aside-border-color);
    border-radius: 0.5em;
    padding: 1em;
}

.returnWarning {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: var(--error-message-bg);
    border: 1px solid var(--error-msg-border);
    color: var(--error-msg-text);
    border-radius: 0.5em;
    padding: 0.5em;
}

.returnWarning p span {
    color: var(--heading-font-color);
}

.actionButtons {
    display: flex;
    gap: 1em;
}

.printReceipt button {
    padding: 1em;
    border-radius: 0.5em;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.printReceipt button {
    background-color: var(--secondary-heading-color);
    color: var(--nav-elements-color);
    border: 1px soid var(--heading-font-color);
}

.printReceipt button:hover {
    color: var(--nav-elements-hover);
}

.printReceipt button:active {
    transform: scale(0.9);
}

/*
    PROCESS FINE
*/

.deleteFine {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteFineButton {
    padding: 0.8em;
    background-color: var(--delete-button);
    color: white;
    border: none;
    border-radius: 0.5em;
}

.deleteFineButton:hover {
    transform: scale(1.05);
}

.deleteFineButton:active {
    transform: scale(0.97);
}

.deleteFineButton i {
    font-size: 1em;
}

/*
    PROCESS RETURN
*/

input[type = "checkbox"] {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid var(--aside-border-color);
}